@use "sass:map";
//CoSD Color Map

$cosd_colors: (
    /* San Diego Bay Blue */
    san-diego-bay-blue: (
        0: hsl(202, 100%, 96%),
        50: hsl(202, 100%, 91%),
        100: hsl(202, 100%, 84%),
        200: hsl(202, 79%, 65%),
        300: hsl(202, 59%, 46%),
        400: hsl(202, 77%, 36%),
        500: hsl(202, 81%, 33%),
        600: hsl(202, 100%, 27%),
        700: hsl(202, 100%, 22%),
        800: hsl(202, 100%, 15%),
        900: hsl(202, 100%, 10%),
    ),
    /* Western Bluebird Blue */
    western-bluebird-blue: (
        0: hsl(200, 100%, 97%),
        50: hsl(200, 100%, 92%),
        100: hsl(200, 100%, 86%),
        200: hsl(200, 100%, 68%),
        300: hsl(200, 100%, 53%),
        400: hsl(200, 100%, 47%),
        500: hsl(200, 100%, 40%),
        600: hsl(200, 100%, 34%),
        700: hsl(200, 100%, 28%),
        800: hsl(200, 100%, 19%),
        900: hsl(200, 100%, 13%),
    ),
    /* Local Citrus Orange */
    local-citrus-orange: (
        0: hsl(36, 100%, 97%),
        50: hsl(36, 100%, 93%),
        100: hsl(36, 100%, 88%),
        200: hsl(36, 100%, 73%),
        300: hsl(36, 100%, 59%),
        400: hsl(36, 99%, 54%),
        500: hsl(36, 100%, 43%),
        600: hsl(36, 100%, 36%),
        700: hsl(36, 100%, 30%),
        800: hsl(36, 100%, 21%),
        900: hsl(36, 100%, 14%),
    ),
    /* Rolling Hills Green */
    rolling-hills-green: (
        0: hsl(73, 100%, 92%),
        50: hsl(74, 100%, 83%),
        100: hsl(74, 70%, 78%),
        200: hsl(73, 52%, 67%),
        300: hsl(73, 31%, 52%),
        400: hsl(73, 38%, 41%),
        500: hsl(73, 41%, 37%),
        600: hsl(73, 55%, 27%),
        700: hsl(73, 73%, 21%),
        800: hsl(73, 100%, 13%),
        900: hsl(73, 100%, 9%),
    ),
    /* Sagebrush Green */
    sagebrush-green: (
        0: hsl(68, 100%, 93%),
        50: hsl(68, 100%, 85%),
        100: hsl(68, 100%, 77%),
        200: hsl(68, 78%, 69%),
        300: hsl(68, 55%, 59%),
        400: hsl(68, 47%, 51%),
        500: hsl(68, 49%, 44%),
        600: hsl(68, 67%, 33%),
        700: hsl(68, 92%, 24%),
        800: hsl(68, 100%, 16%),
        900: hsl(68, 100%, 11%),
    ),
    /* Mountain Shadow Grey */
    mountain-shadow-grey: (
        0: hsl(0, 0%, 96%),
        50: hsl(0, 0%, 91%),
        100: hsl(240, 1%, 84%),
        200: hsl(240, 1%, 69%),
        300: hsl(240, 1%, 48%),
        400: hsl(240, 1%, 35%),
        500: hsl(240, 1%, 32%),
        600: hsl(240, 1%, 25%),
        700: hsl(240, 1%, 21%),
        800: hsl(240, 1%, 14%),
        900: hsl(240, 1%, 10%),
    ),
    /* Administration Center Peach */
    administration-center-peach: (
        0: hsl(20, 100%, 99%),
        50: hsl(20, 100%, 98%),
        100: hsl(20, 100%, 97%),
        200: hsl(20, 100%, 95%),
        300: hsl(20, 100%, 91%),
        400: hsl(21, 100%, 89%),
        500: hsl(20, 39%, 76%),
        600: hsl(20, 39%, 63%),
        700: hsl(20, 39%, 53%),
        800: hsl(20, 28%, 37%),
        900: hsl(20, 43%, 23%),
    ),
    /* Functional Colors */
    functional: (
        warning-bg: hsl(48, 80%, 90%),
        warning: hsl(38, 100%, 59%),
        error-bg: hsl(10, 61%, 91%),
        error: hsl(12, 92%, 44%),
        info-bg: hsl(202, 59%, 46%),
        info: hsl(202, 79%, 65%),
        success-bg: hsl(120, 24%, 94%),
        success: hsl(120, 100%, 33%),
    )
);

//Sass Color Variables
$cosd-color-san-diego-bay-blue-0: map-get(map-get($cosd_colors, san-diego-bay-blue), 0);
$cosd-color-san-diego-bay-blue-50: map-get(map-get($cosd_colors, san-diego-bay-blue), 50);
$cosd-color-san-diego-bay-blue-100: map-get(map-get($cosd_colors, san-diego-bay-blue), 100);
$cosd-color-san-diego-bay-blue-200: map-get(map-get($cosd_colors, san-diego-bay-blue), 200);
$cosd-color-san-diego-bay-blue-300: map-get(map-get($cosd_colors, san-diego-bay-blue), 300);
$cosd-color-san-diego-bay-blue-400: map-get(map-get($cosd_colors, san-diego-bay-blue), 400);
$cosd-color-san-diego-bay-blue-500: map-get(map-get($cosd_colors, san-diego-bay-blue), 500);
$cosd-color-san-diego-bay-blue-600: map-get(map-get($cosd_colors, san-diego-bay-blue), 600);
$cosd-color-san-diego-bay-blue-700: map-get(map-get($cosd_colors, san-diego-bay-blue), 700);
$cosd-color-san-diego-bay-blue-800: map-get(map-get($cosd_colors, san-diego-bay-blue), 800);
$cosd-color-san-diego-bay-blue-900: map-get(map-get($cosd_colors, san-diego-bay-blue), 900);

$cosd-color-western-bluebird-blue-0: map-get(map-get($cosd_colors, western-bluebird-blue), 0);
$cosd-color-western-bluebird-blue-50: map-get(map-get($cosd_colors, western-bluebird-blue), 50);
$cosd-color-western-bluebird-blue-100: map-get(map-get($cosd_colors, western-bluebird-blue), 100);
$cosd-color-western-bluebird-blue-200: map-get(map-get($cosd_colors, western-bluebird-blue), 200);
$cosd-color-western-bluebird-blue-300: map-get(map-get($cosd_colors, western-bluebird-blue), 300);
$cosd-color-western-bluebird-blue-400: map-get(map-get($cosd_colors, western-bluebird-blue), 400);
$cosd-color-western-bluebird-blue-500: map-get(map-get($cosd_colors, western-bluebird-blue), 500);
$cosd-color-western-bluebird-blue-600: map-get(map-get($cosd_colors, western-bluebird-blue), 600);
$cosd-color-western-bluebird-blue-700: map-get(map-get($cosd_colors, western-bluebird-blue), 700);
$cosd-color-western-bluebird-blue-800: map-get(map-get($cosd_colors, western-bluebird-blue), 800);
$cosd-color-western-bluebird-blue-900: map-get(map-get($cosd_colors, western-bluebird-blue), 900);

$cosd-color-local-citrus-orange-0: map-get(map-get($cosd_colors, local-citrus-orange), 0);
$cosd-color-local-citrus-orange-50: map-get(map-get($cosd_colors, local-citrus-orange), 50);
$cosd-color-local-citrus-orange-100: map-get(map-get($cosd_colors, local-citrus-orange), 100);
$cosd-color-local-citrus-orange-200: map-get(map-get($cosd_colors, local-citrus-orange), 200);
$cosd-color-local-citrus-orange-300: map-get(map-get($cosd_colors, local-citrus-orange), 300);
$cosd-color-local-citrus-orange-400: map-get(map-get($cosd_colors, local-citrus-orange), 400);
$cosd-color-local-citrus-orange-500: map-get(map-get($cosd_colors, local-citrus-orange), 500);
$cosd-color-local-citrus-orange-600: map-get(map-get($cosd_colors, local-citrus-orange), 600);
$cosd-color-local-citrus-orange-700: map-get(map-get($cosd_colors, local-citrus-orange), 700);
$cosd-color-local-citrus-orange-800: map-get(map-get($cosd_colors, local-citrus-orange), 800);
$cosd-color-local-citrus-orange-900: map-get(map-get($cosd_colors, local-citrus-orange), 900);

$cosd-color-rolling-hills-green-0: map-get(map-get($cosd_colors, rolling-hills-green), 0);
$cosd-color-rolling-hills-green-50: map-get(map-get($cosd_colors, rolling-hills-green), 50);
$cosd-color-rolling-hills-green-100: map-get(map-get($cosd_colors, rolling-hills-green), 100);
$cosd-color-rolling-hills-green-200: map-get(map-get($cosd_colors, rolling-hills-green), 200);
$cosd-color-rolling-hills-green-300: map-get(map-get($cosd_colors, rolling-hills-green), 300);
$cosd-color-rolling-hills-green-400: map-get(map-get($cosd_colors, rolling-hills-green), 400);
$cosd-color-rolling-hills-green-500: map-get(map-get($cosd_colors, rolling-hills-green), 500);
$cosd-color-rolling-hills-green-600: map-get(map-get($cosd_colors, rolling-hills-green), 600);
$cosd-color-rolling-hills-green-700: map-get(map-get($cosd_colors, rolling-hills-green), 700);
$cosd-color-rolling-hills-green-800: map-get(map-get($cosd_colors, rolling-hills-green), 800);
$cosd-color-rolling-hills-green-900: map-get(map-get($cosd_colors, rolling-hills-green), 900);

$cosd-color-sagebrush-green-0: map-get(map-get($cosd_colors, sagebrush-green), 0);
$cosd-color-sagebrush-green-50: map-get(map-get($cosd_colors, sagebrush-green), 50);
$cosd-color-sagebrush-green-100: map-get(map-get($cosd_colors, sagebrush-green), 100);
$cosd-color-sagebrush-green-200: map-get(map-get($cosd_colors, sagebrush-green), 200);
$cosd-color-sagebrush-green-300: map-get(map-get($cosd_colors, sagebrush-green), 300);
$cosd-color-sagebrush-green-400: map-get(map-get($cosd_colors, sagebrush-green), 400);
$cosd-color-sagebrush-green-500: map-get(map-get($cosd_colors, sagebrush-green), 500);
$cosd-color-sagebrush-green-600: map-get(map-get($cosd_colors, sagebrush-green), 600);
$cosd-color-sagebrush-green-700: map-get(map-get($cosd_colors, sagebrush-green), 700);
$cosd-color-sagebrush-green-800: map-get(map-get($cosd_colors, sagebrush-green), 800);
$cosd-color-sagebrush-green-900: map-get(map-get($cosd_colors, sagebrush-green), 900);

$cosd-color-mountain-shadow-grey-0: map-get(map-get($cosd_colors, mountain-shadow-grey), 0);
$cosd-color-mountain-shadow-grey-50: map-get(map-get($cosd_colors, mountain-shadow-grey), 50);
$cosd-color-mountain-shadow-grey-100: map-get(map-get($cosd_colors, mountain-shadow-grey), 100);
$cosd-color-mountain-shadow-grey-200: map-get(map-get($cosd_colors, mountain-shadow-grey), 200);
$cosd-color-mountain-shadow-grey-300: map-get(map-get($cosd_colors, mountain-shadow-grey), 300);
$cosd-color-mountain-shadow-grey-400: map-get(map-get($cosd_colors, mountain-shadow-grey), 400);
$cosd-color-mountain-shadow-grey-500: map-get(map-get($cosd_colors, mountain-shadow-grey), 500);
$cosd-color-mountain-shadow-grey-600: map-get(map-get($cosd_colors, mountain-shadow-grey), 600);
$cosd-color-mountain-shadow-grey-700: map-get(map-get($cosd_colors, mountain-shadow-grey), 700);
$cosd-color-mountain-shadow-grey-800: map-get(map-get($cosd_colors, mountain-shadow-grey), 800);
$cosd-color-mountain-shadow-grey-900: map-get(map-get($cosd_colors, mountain-shadow-grey), 900);

$cosd-color-administration-center-peach-0: map-get(map-get($cosd_colors, administration-center-peach), 0);
$cosd-color-administration-center-peach-50: map-get(map-get($cosd_colors, administration-center-peach), 50);
$cosd-color-administration-center-peach-100: map-get(map-get($cosd_colors, administration-center-peach), 100);
$cosd-color-administration-center-peach-200: map-get(map-get($cosd_colors, administration-center-peach), 200);
$cosd-color-administration-center-peach-300: map-get(map-get($cosd_colors, administration-center-peach), 300);
$cosd-color-administration-center-peach-400: map-get(map-get($cosd_colors, administration-center-peach), 400);
$cosd-color-administration-center-peach-500: map-get(map-get($cosd_colors, administration-center-peach), 500);
$cosd-color-administration-center-peach-600: map-get(map-get($cosd_colors, administration-center-peach), 600);
$cosd-color-administration-center-peach-700: map-get(map-get($cosd_colors, administration-center-peach), 700);
$cosd-color-administration-center-peach-800: map-get(map-get($cosd_colors, administration-center-peach), 800);
$cosd-color-administration-center-peach-900: map-get(map-get($cosd_colors, administration-center-peach), 900);

$cosd-color-functional-warning-bg: map-get(map-get($cosd_colors, functional), warning-bg);
$cosd-color-functional-warning: map-get(map-get($cosd_colors, functional), warning);
$cosd-color-functional-error-bg: map-get(map-get($cosd_colors, functional), error-bg);
$cosd-color-functional-error: map-get(map-get($cosd_colors, functional), error);
$cosd-color-functional-info-bg: map-get(map-get($cosd_colors, functional), info-bg);
$cosd-color-functional-info: map-get(map-get($cosd_colors, functional), info);
$cosd-color-functional-success-bg: map-get(map-get($cosd_colors, functional), success-bg);
$cosd-color-functional-success: map-get(map-get($cosd_colors, functional), success);
