// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$sandiegobayblue400: #1562a1; // Thats a sample how you could change a BootStrap variable.
$primary: #1562a1; // Once we've changed the value, we'll also make it the primary brand color.

.navbar-brand img {
	height: 45%;
	width: 45%;
}

.translate-banner {
	background-color: #f5f5f7;

	.gtranslate_wrapper {
		display: flex;
		justify-content: end;
	}
}

.translate-banner__heading {
	margin: 1em 0;
}

.homepage-hero {
	color: #fff;
	background-color: #1462a2;
}

.homepage-hero__heading {
	color: #ffcb2d;
}

.section_services {
	background-color: #f5f5f7;
}
.section_news {
}
.section_events {
	background-color: #ffde76;
}
.section_governments {
	background-color: #013b69;
	color: #fff;
}
.section_featured {
	background-color: #001c31;
	color: #fff;

    .featured-card {
        background-color: #032742;
    }
}

.survey-banner {
	background-color: #343437;
	color: #fff;

	.survey-banner__heading {
        padding: 1.5em 0;
	}

	.btn-column {
		display: flex;
		justify-content: center;
		padding: 1em 0;
	}

	.block_btn__margin {
		margin-right: 1em;
	}
}
